<template>
  <div>
    <SearchBar placeholder="Search For A Game"/>
    <GameList/>
  </div>
</template>

<script>
import GameList from "@/components/GameList.vue";
import SearchBar from "@/components/SearchBar.vue";

export default {
  name: "home",
  components: {
    GameList,
    SearchBar
  }
};
</script>
