<template>
  <div>
    <div class="dropdown">
      <button class="dropbtn">Game Limit: {{limit}}</button>
      <div class="dropdown-content">
        <a href="#" @click="setLimit(5)">5</a>
        <a href="#" @click="setLimit(10)">10</a>
        <a href="#" @click="setLimit(15)">15</a>
        <a href="#" @click="setLimit(20)">20</a>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "Dropdown",
  methods: {
    ...mapActions(["setLimit"])
  },
  computed: {
    ...mapState(["limit"])
  }
};
</script>

<style scoped>
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
</style>