<template>
  <div>Game</div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "Game",
  methods: {
    ...mapActions(["SelectGame"])
  },
  computed: {
    ...mapState(["selectedGames"])
  }
};
</script>

<style scoped>
</style>