<template>
  <div>
    <!-- Limits Amount Of Games Displayed -->
    <Dropdown/>

    <!-- Loop Over Games [Based On Value Of Dropdown] -->
    <Game/>
    <p>Fetched Games: {{games}}</p>
  </div>
</template>

<script>
import Game from "@/components/Game.vue";
import Dropdown from "@/components/Dropdown.vue";
import { mapActions, mapState } from "vuex";

export default {
  name: "GameList",
  components: {
    Game,
    Dropdown
  },
  methods: {
    ...mapActions(["fetchGames"])
  },
  computed: {
    ...mapState(["games"])
  },
  created() {
    this.fetchGames();
  }
};
</script>

<style scoped>
</style>