<template>
  <div>
    <input type="text" @change="onChange" :placeholder="placeholder">
    <p>Search Query: {{searchQuery}}</p>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "SearchBar",
  props: {
    placeholder: String
  },
  methods: {
    ...mapActions(["setQuery"]),
    onChange(e) {
      this.setQuery(e.target.value);
    }
  },
  computed: {
    ...mapState(["searchQuery"])
  }
};
</script>

<style scoped>
</style>